body {
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://img.freepik.com/free-vector/programming-code-icon-made-with-binary-code-coding-hacker-matrix-background-with-digits-1-0_127544-1141.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
* {
    margin: 0;
    padding: 0;
}